body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*-------header-------*/
.w-1252 {
    width: 1252px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(239, 240, 243, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
}

.logo {
    align-items: baseline;
    margin: 26px 300px 0 0;
}

.logo h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #001858;
}

.logo h1 span {
    color: #6246EA;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav a {
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bmac {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: rgba(255, 255, 254, 1);
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

/*-------main section one-------*/

.section-one {
    width: 100%;
    height: 900px;
    background-color: #EFF0F3;;
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-one h1 {
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;

}

.section-one p {
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
    border-left: 4px solid black;
    padding-left: 9px;
}

.form-subscribe input[type="email"] {
    width: 444px;
    height: 67px;
    padding: 21px 200px 21px 25px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 8px;
    margin-right: 20px;
    outline: none;
}

.form-subscribe input[type="submit"] {
    border-radius: 8px;
    background: #6246EA;
    width: 145px;
    height: 67px;
    border: none;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/*-------main section two-------*/
.section-two {
    width: 100%;
    height: 500px;
    background-color: #EFF0F3;;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;

}

.categories-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.section-title {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
}

.see-all {
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}

.category-cards {
    display: flex;
    gap: 37px;
}

.category-card {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    padding: 65px 72px 95px 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.category-card:hover {
    background-color: #6246EA;
}

.category-card:hover,
.category-card:hover * {
    color: #ffffff !important;
}

.icon-wrapper {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFFFFE;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-card p {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
}


/*-------main section three-------*/

.section-three {
    width: 100%;
    height: 2344px;
    display: flex;
}

.section-three-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.featured-cards {
    width: 100%;
    display: flex;
    gap: 16px;
}

.featured-card {
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: white;
    transition: transform 0.4s ease;
}

.featured-card:hover {
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.card-image img {
    width: 100%;
    display: block;
    margin-bottom: 25px
}

.featured-card h3 {
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 15px;
    margin-top: auto;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-info .name {
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
}

.author-info .meta {
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
}
